.form{
    position: relative;
    padding: 64px;
    border-radius: 30px;
    width: 600px;
    z-index: 1000;
}
.form h2{
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
}
.form .text{
    line-height: 20px;
    margin-bottom: 40px;
}
.form .avatar{
    border-radius: 15px;
}
.form .info{
    display: flex;
    gap: 14px;
    margin-bottom: 40px;
}
.form input{
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    padding: 16px;
    margin-bottom: 16px;
}
.form .contact{
    display: flex;
    gap: 8px;
}
.close{
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
.submit{
    background-color:#0957C3 ;
    color: white;
    padding: 16px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    margin-top: 40px;
}
.name,.email{
    width: 100%;
}
.message{
    border-radius: 12px;
    padding: 10px;
}