.modalForm {
    padding: 64px;
    border-radius: 30px;
    position: relative;
}
.modalForm form{
    display: flex;
    flex-direction: column;
}

.modalForm h2 {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 48px;
}

.modalForm .description {
    margin-bottom: 40px;
    color: #86868C;
    line-height: 20px;
}

.modalForm input {
    padding: 16px 380px 16px 18px;
    border-radius: 12px;
    border: 1px solid gainsboro;
    display: block;
    margin-bottom: 15px;
}

.modalForm button {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 16px 196px;
    border: none;
    background-color: #0957C3;
    color: white;
}

.modalForm .close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.error {
    display: inline-block;
    color: red;
    margin-bottom: 10px;
}

.error::before {
    content: "*";
}